<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="${ec.jdbc.driver}"/>
        <property name="url" value="${ec.jdbc.url}" />
        <property name="username" value="${ec.jdbc.username}" />
        <property name="password" value="${ec.jdbc.password}" />
        <!-- 初始化连接大小 -->
        <property name="initialSize" value="${ec.jdbc.initialSize}"/>
        <!-- 连接池最大数量 -->
        <property name="maxActive" value="${ec.jdbc.maxActive}"/>
        <!-- 连接池最大空闲 -->
        <property name="maxIdle" value="${ec.jdbc.maxIdle}"/>
        <!-- 连接池最小空闲 -->
        <property name="minIdle" value="${ec.jdbc.minIdle}"/>
        <!-- 获取连接最大等待时间 -->
        <property name="maxWait" value="${ec.jdbc.maxWait}"/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="PhysicalNamingStrategy">
            <bean class="com.jasonwangex.easyCoursera.utils.namingStrategy.CustomNamingStrategy" />
        </property>

        <property name="dataSource" ref="dataSource" />
        <property name="hibernateProperties">
            <props>
                <prop key="current_session_context_class">thread</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
                <prop key="hibernate.id.new_generator_mappings">false</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>


        <property name="packagesToScan">
            <list>
                <value>com.jasonwangex.easyCoursera.*.domain</value>
            </list>
        </property>

    </bean>

    <bean name="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate"
          p:sessionFactory-ref="sessionFactory"/>

     <!--(事务管理)transaction manager, use JtaTransactionManager for global tx-->
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>

</beans>
